aiohttp
autopep8
beautifulsoup4
dataclassy
discord_py_interactions==5.2.0
fuzzywuzzy
html5lib
isort
jikanpy-v4
jurigged
langcodes
language_data
pandas
plusminus
python-dotenv
python-Levenshtein
pyyaml
regex
requests
sentry_sdk
tzdata
