aiohttp
autopep8
beautifulsoup4
dataclassy
discord_py_interactions @ git+https://github.com/AstreaTSS/interactions-py-library@weird-embed-workaround
fake-useragent
fuzzywuzzy
html5lib
isort
jurigged
langcodes
language_data
pandas
plusminus
python-dotenv
python-Levenshtein
pyyaml
regex
sentry_sdk
tzdata
validators
