aiohttp
autopep8
beautifulsoup4
discord_py_interactions==5.0.0
fuzzywuzzy
html5lib
isort
jurigged
langcodes
language_data
pandas
plusminus
python-dotenv
python-Levenshtein
pyyaml
regex
requests
sentry_sdk
tzdata
